
h1{
  font-size: 50px;
}

h3{
  font-family: "Comfortaa";
  text-align: center;
  font-size: 30px;
}

h4{
  font-family: "Comfortaa";
  text-align: center;
  color: #e35d6a;
  font-size: 20px;
}

#Title {
  font-family: "Comfortaa";
  align-content: center;
  text-align: center;
  color: #e35d6a;
  padding-top: 5px;
}

section{
  width: 100%
}

#Intro{
  font-family: "Comfortaa";
  text-align: center;
}

/*FORM CODE*/
form{
  font-family: "Comfortaa";
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

.container p{
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=message] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=message]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #e35d6a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: "Comfortaa";
}

.registerbtn:hover {
  opacity:1;
}

.column {
    float: left;
    width: 45%;
    margin: 15px;
    font-family: "Comfortaa"
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

button{
  padding: 15px;
  width: 100%;
  background-color: #e35d6a;
  font-family: "Comfortaa";
  border: none;
  cursor: pointer;
  color: white;
  align-items: center;
  align-self: center;
  display: flex;
  text-align: center;
  text-decoration: none;
}

.row a{
  color: white;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

p{
  text-align: center;
}

button:hover{
  background-color: #d29985;
}


.icon-bar2 {
    width: 100%;
    height: 7%;
    background-color: #e35d6a;
    position: fixed;
    top: 0;
    overflow: hidden;
    text-align: center;
    font-family: "Comfortaa"
}

.icon-bar2 a {
    display: inline-block;
    width: 30%;
    float: center;
    margin: 0;
    top: 0;
    /* padding: 10px 10px 10px 10px; */
    color: white;
    text-decoration: none;
}

.icon-bar2 a:hover {
    background-color:#eec1ad;
}
#GPS{
  width: 20%;
}
