.icon-bar {
    width: 100%; /* Full-width */
    background-color: #e35d6a; /* Dark-grey background */
    position: fixed;
    bottom: 0;
    text-align: center;
}

.icon-bar a {
    display: inline-block;
    width: 5%;
    float: center; /* Float links side by side */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
}

.icon-bar img {
  width: 50%;
  height: 200%;
  display: inline;
}

.icon-bar a:hover {
    background-color:#FFFFFF; /* Add a hover color */
}

.heading{
  margin: center;
  display: flex;
  flex-wrap: wrap;
}

.body{
  width: 100%;
  height: 100%;

}

.store_list {
  text-align: center;
  height: 100%;
  width: 48%;
  font-size: 40px;
  font-family: "Comfortaa", sans-serif;
  display: inline-block;
  vertical-align: top;
}
.store_list h2 {
  /* text-align: center; */
  font-size: 40px;
  vertical-align: top;
  font-weight: normal;
}

div.store_outline {
  width: 70%;
  border: 2px solid #e35d6a;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 30px;

}
span.store_name {
  padding: 18px;
  display: inline-block;
  font-size: 16px;
  font-weight:lighter;
  color: black;
}

.store_name {
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.store_name: hover {
    background-color: transparent;
}

.store_desc {
  font-size: 10px;
  display: none;
}
.store_desc_col1 {
  width: 40%;
  display: inline-block;
  padding-left: 18px;
  float: left;
}


.store_desc_col2 {
  width: 40%;
  display: inline-block;
  padding-bottom: 5px;

  /* float: right; */
}





.store_classif {
  width: 25%;
  display: inline-block;
  margin-right: auto;
  text-align: right;
  float:right;
  padding-right: 30px;
}
.store_classif ul {
  list-style-type: none;
  font-size: 12px;
  text-align: right;
  margin-right: auto;
}
.store_classif li {
  font-weight: bold;
  padding: 2px;
  display: inline-block;
  text-align: right;
  margin-right: auto;
}
.stars {
  height: 20px;
}

.Stores img {
  /* width: 150%; */
  vertical-align: bottom;
  text-align: center;
}


/* hzdgfykubglakjhfjvgbzjhfbhdgvfhjvgdhgv *
