html {
   font-family:Comfortaa, 'Comfortaa';
   text-decoration: none;
   height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.Post{
  padding: 1px 1px 1px 1px;
  color: black;
  margin: center;
  text-align: left;
  text-decoration: none;
  display: inline-block;

}

.Post img{
  width:10%;
  text-decoration: none;
  color: black;
  float: left;
}

div.gallery-container {
  width: 100%;
  height: 60%;
  display: block;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /* width: 180px; */
    width: 16%;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    font-size: 3em !important;
}

div.desc, div.top-desc {
    padding: 15px;
    text-align: center;
    width: 100%;
}
div.desc img {
  width: 20px;
  margin-left: 12px;
}

h2{
  text-align: center;
}

#fact{
  color: white;
  background-color:#d29985;
  border radius: 50px 50px 50px 50px;
  border-color: black;
  border-radius: 25px;
  padding: 19px;
  width: 190px;
  height: 300px;
  text-align: center;
  font-size: 100%;
  text-decoration: none;
  margin-right: auto;
  float: right;
  margin-left: 40px;
  margin-right: 40px;
}
