html *
{
   font-size: 1em !important;
   color: white !important;
   font-family:'Comfortaa', cursive;
}
* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px 10px 10px 0px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    text-align: left;
    margin-left: 0em;
    display: inline-block;

}

form.example button {
    /*float: left;*/
    width: 20%;
    padding: 10px 0px 10px 10px;
    background: #FFFFFF;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    display: inline-block;
}

form.example button:hover {
    background: #ec7063;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#search{
  width: 10px;
  max-width:10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column{
  /*flex: 50%;*/
  padding: 0 4px;
  width: 33%;
}
.column img{
  margin-top: 8px;
  text-align: middle;
  width: 100%;
}
.left_side {
  float: left;
  width: 49%;
  text-align: center;

}
.right_side{
  /* content: ""; */
  display: inline-block;
  clear: both;
  width: 51%;
  text-align: center;
}
.right_side img{
  width: 100px;
  text-align: center;
}
.left_side img{
  width: 100px;
  text-align: center;
}
.button{
  color: white;
  background-color: #e35d6a;
  border-radius: 25px;
  border-color: black;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  display: inline-block;
  margin: center;
  font-size: 25px;
  width: 70%;
  height: 50%;
}
.You{
  color: white;
  background-color:#e35d6a;
  border-radius: 25px;
  border-color: black;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 16px;
}
h2{
  text-align: center;
  color: white;
  text-decoration: none;
  bottom: 2px;
  margin-top: 1;
  }

.Location{
  color: white;
  background-color:#d29985;
  border-radius: 25px;
  border-color: black;
  padding: 2px 2px 2px 2x;
  text-decoration: none;
  margin-bottom: 100px;
}
h3{
  text-align: center;
  color: white;
  text-decoration: none;
  bottom: 2px;
  margin-top: 1;
}

.image{
  width: 100px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}
.left{
  float:left;
}

.right{
  float: left;
}
